

*{
    margin-left:0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.nav
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav_panel
{
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    outline: solid;
}

.bottom_panel
{
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    position: relative;
    top: 60px;
    left: 80%;
    text-align: center;
    font-size: 14px;
    outline: solid;
}

.content
{
    display: flex;
    height: 50vh;
    outline: solid;
}


.left_side
{
    background-color: rgb(197, 255, 164);
    width: 30%;
    overflow-y: auto;
}

.right_left_side
{
    background-color: rgb(197, 255, 164);
    width: 30%;
}


.right_bottom_side
{
    display: flex;
    background-color: rgb(241, 255, 164);
    height: 10%;
    width: 100%;
}

.right_center_left
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
}

.right_center
{
    display: flex;
    justify-content: space-between;
    flex-shrink: 2;
    background-color: white;
    width: 100%;
    height: 90%;
    position: relative;
}


.up_side
{
    background-color: rgb(241, 255, 164);
    height: 10%;
}

.right_side
{
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 255, 164);
    width: 70%;
    float: right;
}


.bottom, .nav
{
    background-color: rgb(111, 159, 248);
    height: 25vh;
    width: 100%;
    text-align: center;
}

.m8
{
    position: relative;
    max-height: 90%;
    max-width: 90%;
    height: auto;
}