.nav
{
background-color: rgb(111, 159, 248);
height: 200px;
width: 100%;
text-align: center;
vertical-align: top;
outline: solid;
}

.nav_panel
{
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    position: relative;
    top: 60px;
    left: 100px;
    outline: solid;
}

.bottom_panel
{
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    position: relative;
    top: 60px;
    right: 100px;
    float: right;
    font-size: 14px;
    outline: solid;
}

.content
{
    height: 500px;
    outline: solid;
}

.left_side
{
    background-color: rgb(241, 255, 164);
    width: 30%;
    height: 100%;
    float: left;
    outline: solid;
    overflow-y: auto;
}

.right_left_side
{
    background-color: rgb(241, 255, 164);
    height: 100%;
    width: 30%;
    float: right;
    outline: solid;
}



.up_side
{
    background-color: rgb(241, 255, 164);
    height: 10%;
    width: 70%;
    float: right;
    outline: solid;
}

.right_bottom_side
{
    background-color: rgb(241, 255, 164);
    width: 70%;
    height: 10%;
    outline: solid;
    vertical-align:bottom;
    float: left;
}

.right_center
{
    background-color: white;
    width: 70%;
    height: 90%;
    float: left;
    position: relative;
}

.right_side
{
    background-color: rgb(241, 255, 164);
    width: 70%;
    height: 90%;
    float: right;
    outline: solid;
}


.bottom
{
    background-color: rgb(111, 159, 248);
    height: 200px;
    outline: solid;
}

.m8
{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}